*{
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  
  
}

.logo{
  display: flex;
  height: 7vh;
  margin-top: 30vh;
  margin-left: 30vh;

}


.h1{
  font-family: 'Poppins';
  margin-left: 30vh;
  
}



.h2{
  font-family: 'Poppins', Courier, monospace;
  margin-left: 30vh;
  color: #635e5e;
  font-weight: bold;
  margin-top: 30px;
  margin-top: 20px;
  font-size: 20px;
}


.h3{
  font-family: 'Poppins', Courier, monospace;
  
  color: #635e5e;
  font-weight: 500;
  margin-top: 18px;
  margin-left: 30vh;
  font-size: 16px;
}

/* botão whatsapp */

button {
  margin: 20px;
  margin-left: 30vh ;
}


.custom-btn {
  width: 170px;
  height: 58px;
  color: #ffffff;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Poppins', sans-serif;
  
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-13 {
  background-color: #89d8d3;
background-image: linear-gradient(315deg, #d88989 0%, #c80303 74%);
  border: none;
  z-index: 1;
}
.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
   background-color: #cc4d4d;
background-image: linear-gradient(315deg, #cc4d4d 0%, #e49696 74%);
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-13:hover {
  color: #fff;
}
.btn-13:hover:after {
  top: 0;
  height: 100%;
}
.btn-13:active {
  top: 2px;
}

.alinhamento1{
  margin-left: -31vh;
}


/* botão whatsapp */





.imgalpha{
height: 600px;
margin-left: 110vh;
margin-top: -65vh;
}


.section{
display: flex;
flex-direction: column;
background-color: #c80303;
opacity: 90%;
margin-top: 18vh;
height: 60vh;
justify-content: center;
align-items: center;
padding-top: 30vh;

}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 120px auto;
  width: 100%;
  
  
}

.card {
  background-color: #eeeeee;
  width: 30%;
  max-width: 350px;
  min-width: 250px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.card-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nome1, .nome2, .nome3 {
  font-weight: bold;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  text-align: center;
}


.hr1, .hr2, .hr3 {
  width: 80%;
  border: 0.5px solid #ccc;
  margin: 10px 0;
}

.avaliacao1, .avaliacao2, .avaliacao3 {
  font-size: 14px;
  color: #2c2a2a;
  margin: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.ava{
margin-top: -10vh;
color: #eeeeee;
font-family: 'Poppins', sans-serif;
font-size: 20px;
font-weight: 400;
margin-left: 32vh;
}

.ava1{
margin-top: -20vh;
color: #eeeeee;
font-family: 'Poppins', sans-serif;
margin-left: 32vh;
}

.orcamento1{
  margin-top: 10vh;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  margin-left: 32vh;
}

.orcamento2{
  margin-top: -10vh;
color: #000000;
font-family: 'Poppins', sans-serif;
font-size: 20px;
font-weight: 400;
margin-left: 32vh;
}




.card-container-service {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10vh;
  margin-top: 12vh;
}



.card-service {
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  margin: 10px;
}

.imgcardservice {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid #cc3838;
  background-color: #cc3838;
}

.h3service {
  margin: 15px 0;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: #252525;
}

.pservice {
  margin: 0 15px 15px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #555;
}


.section2{
  display: flex;
  flex-direction: column;
  background-color: #c80303;
  opacity: 90%;
  margin-top: 18vh;
  height: 60vh;
  justify-content: center;
  align-items: center;
  padding-top: 30vh;
  
  }

  .promo{
    margin-top: -13vh;
    color: #eeeeee;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 32vh;
    }

    .promo2{
      margin-top: -19vh;
      color: #eeeeee;
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-weight: 500;
      margin-left: 32vh;
      }

      .ticket{
        position: absolute;
        width: 70vh;
        margin-left: 90vh;
        margin-top: -30vh;
      }

      .botaofim{
        display: flex;
        margin-top: -20vh;
        margin-left: 20px;
        text-decoration: none;
       }


       .rodape{
        text-align: center;
        font-family: 'Poppins', Courier, monospace;
        margin: 10px;
       }

      
       .whatsapp-button {
        position: fixed;         /* Fica fixo na tela */
        bottom: 20px;            /* Distância do fundo da tela */
        right: 20px;             /* Distância do lado direito */
        width: 70px;             /* Largura do botão */
        height: 70px;            /* Altura do botão */
        background-color: #29a71a; /* Cor do botão (verde do WhatsApp) */
        border-radius: 50%;      /* Deixa o botão redondo */
        display: flex;           /* Centraliza o ícone dentro do botão */
        justify-content: center; 
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
        z-index: 999;            /* Fica sobre os outros elementos */
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    .whatsapp-button:hover {
        background-color: #0c6318; /* Cor mais escura ao passar o mouse */
    }
    
    .whatsapp-button img {
        width: 42px;   /* Tamanho do ícone */
        height: 42px;
    }




@media( max-width: 667px){

  .logo{
      display: block;
      margin: auto;
      height: 6vh;
      margin-top: 40px;
  
  }

  .h1{
      font-family: 'Poppins';
      font-size: 28px;
      text-align: center;
      line-height: 145%;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
  }

  .h2{
      font-family: 'Poppins', Courier, monospace;
      text-align: center;
      color: #635e5e;
      font-weight: bold;
      margin-top: 30px;
      margin-left: auto;
      font-size: 18px;
  }

  .h3{
      font-family: 'Poppins', Courier, monospace;
      text-align: center;
      color: #635e5e;
      font-weight: 500;
      margin-top: 17px;
      margin-left: auto;
      font-size: 15px;
  }

  button {
      margin: 20px;
      margin-left: 1;
    }

 .alinhamento{
  display: flex;
  justify-content: center;
  text-decoration: none;
 }

 .alinhamento1{
  display: flex;
  text-decoration: none;
}
    


  .imgalpha{
      display: flex;
      height: 350px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -10vh;
      
     
      }

      .section{
        display: flex;
        flex-direction: column;
        background-color: #c80303;
        opacity: 90%;
        margin-top: 20vh;
        height: 120vh;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        text-align: center;
        
      }
      
      .cards {
        flex-direction: column;
        align-items: center;
        margin: 50px auto;

      }
    
      .card {
        width: 90%; /* Ajusta para ocupar mais a largura em telas menores */
      }
    
      .card-header img {
        width: 40px;
        height: 40px;
      }
    
      .nome1, .nome2, .nome3 {
        font-size: 14px;
      }
    
      .pservice {
        margin: 0 15px 15px;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        color: #555;
      }
      
      .ava{
        
        
        color: #eeeeee;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        margin: -10px auto;
        width: 100%;
        
      }
      
      .ava1{
        
        color: #eeeeee;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin: 20px auto;
        width: 100%;
        
      }

      .avaliacao1, .avaliacao2, .avaliacao3 {
        font-size: 14px;
        color: #2c2a2a;
        margin: 0;
        text-align: center;
        font-family: 'Poppins', sans-serif;
      }
      
      .orcamento1{
        color: #000000;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin: 20px auto;
        width: 100%;
      }
      
      .orcamento2{
        color: #000000;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        margin: -10px auto;
        width: 100%;
      }


      .promo{
        
        color: #eeeeee;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        margin: -10px auto;
        width: 100%;
        margin-top: -60vh;
        
      }

      .promo2{
        
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin: -10px auto;
        width: 100%;
        margin-top: -5px;
        
      }

      .section2{
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center;
        height: 80vh;
        
      }

      .ticket{
        width: 46vh; 
        margin: 20px 0;
        margin-top: 50vh;
        
        
      }

      .botaofim{
        display: flex;
        justify-content: center;
        text-decoration: none;
        margin-top: -33vh;
       }

       .rodape{
        text-align: center;
        font-family: 'Poppins', Courier, monospace;
        margin-top: 1vh;
        color: #575252;
       }

       .hrfim{
        margin-top: 30vh;
       }

      
 
}